<p id="notice"><%= notice %></p>

<h1>Turinys</h1>

<% markdown = new_markdown %>
<% @articles.each do |article| %>

      <h4><%= link_to article.title, article %></h4>
      <div><%== markdown.render(truncate article.content, length: 300) %></div>

      
    <hr>
 <% end %>