<p id="notice"><%= notice %></p>

<h1>Turinys</h1>

<% @articles.each do |article| %>
      <h4><%= article.title %></h4>
      <p><%= truncate article.content, length: 300 %></p>
      <p><%= link_to 'Show', article %></p>
    <hr>
 <% end %>